Repository trancong12102/blockchainav: changes, and which lefthook commands are due for each by the changed paths.
All: check-ts, check-go

lefthook.yml:

pre-commit:
  commands:
    check-ts:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true
      stage_fixed: true
    check-go:
      root: chaincode/
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true

feat(chaincode): ReadAssetsByTypeFromID sort asc
  chaincode/smartcontract.go
Due: check-go

fix(chaincode): use int instead of int32
  chaincode/smartcontract.go
Due: check-go

fix(chaincode): use string enum instead of int
  chaincode/go.mod
  chaincode/go.sum
  chaincode/smartcontract.go
  chaincode/smartcontract_enum.go
Due: check-go

feat(chaincode): add GetLatestAsset method
  chaincode/smartcontract.go
Due: check-go

feat(chaincode): GetAssets sort by id desc
  chaincode/smartcontract.go
Due: check-go

feat(chaincode): remove order from indexes
  chaincode/META-INF/statedb/couchdb/indexes/indexIdType.json
Due: check-ts

chore(chaincode): go mod tidy
  chaincode/go.mod
  chaincode/go.sum
Due: none

fix(lint): rename script biome to lint to avoid conflict
  lefthook.yml
  package.json
Due: check-ts

feat(deps): migrate from yarn to pnpm
  README.md
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: check-ts

feat(chaincode): remove redundant methods, QueryAssets method is enough
  chaincode/smartcontract.go
Due: check-go

feat(deps): remove eslint and related packages
  package.json
  pnpm-lock.yaml
Due: check-ts
